.benefits {
  padding: 90px 0;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 25%;
    max-width: 250px;
    text-align: center;
  }
  &__preview {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
  &__title {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
