.counter-banner {
  &__container {
    display: flex;
  }
  &__item {
    width: 50%;
    background-color: #eeeeee;
    box-sizing: border-box;
  }
  &__info {
    padding: 6.5% 25px 6.5% 20.3%;
  }
  &__img {
    background: url("../../img/bg-counter.jpg") no-repeat top center;
  }
  &__label {
    margin-bottom: 38px;
    display: inline-block;
    padding: 25px 30px;
    background-color: #c8c290;
    font-size: 2.8rem;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    letter-spacing: 16px;
  }
  &__title {
    margin: 0 0 15.5%;
    font-size: 4rem;
    line-height: 4.8rem;
    color: $primary;
    font-weight: 600;
  }
  &__text {
    margin-bottom: 20px;
    font-size: 1.6rem;
    line-height: 1.7rem;
    font-weight: 400;
    color: $primary;
  }
  &__price {
    margin-bottom: 10%;
    font-size: 3.6rem;
    font-weight: 700;
    color: $primary;
    line-height: 1;
  }
  &__btn {
    padding: 25px 38px;
    font-size: 1.14rem;
  }
}
