.page {
  height: 100%;
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  @media only screen and (max-width: $lg) {
    font-size: 12px;
  }
  @media only screen and (max-width: $md) {
    font-size: 11px;
  }
}
