.photo-gallery {
  padding: 70px 0 0;
  text-align: center;
  &__text {
    margin: 0 0 50px;
    font-size: 1.28rem;
    font-weight: 400;
    color: $gray;
    line-height: 1.4;
  }
  &__container {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    margin: 0 4px 10px;
    width: 16.6%;
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
}
