.user-menu {
  display: flex;
  &__item {
    margin: 0 13px;
  }
  &__link {
    font-size: 1.43rem;
    color: $primary;
    transition: color linear .3s;
    &:hover {
      color: $black;
    }
  }
}
